<!DOCTYPE html>
<html ng-app="Md1">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        table{border: 1px solid black;margin: 0 auto;width: 500px;}
        td{border: 1px solid black;height: 30px;text-align: center;}
        img{width: 30px;height: 30px;}
        button{width: 500px;height:30px;margin: 0 auto;display: block;margin-top:20px;}
    </style>
    <script src="jquery-1.12.1.min.js"></script>
    <script src="angular/js/angular.js"></script>
    <script>
        angular.module("Md1",["ng"]).controller("Mc1",function($scope){
            $scope.proList=[
                {name:"雪碧",price:3.0,img:"1.jpg"},
                {name:"芬达",price:3.0,img:"2.jpg"},
                {name:"可乐",price:3.0,img:"3.jpg"},
                {name:"美年达",price:3.0,img:"4.jpg"}
            ];
            $scope.addMore = function(){
                //$scope.proList.shift();删除数组第一项
                $scope.proList.push(//给原数组末尾添加元素；
                        {name:"雪碧",price:3.0,img:"1.jpg"},
                        {name:"芬达",price:3.0,img:"2.jpg"},
                        {name:"可乐",price:3.0,img:"3.jpg"},
                        {name:"美年达",price:3.0,img:"4.jpg"}
                );
            }

        })
    </script>
</head>
<body>
    <table cellpadding="0" cellspacing="0" ng-controller="Mc1">
        <tr>
            <td>序号</td>
            <td>名称</td>
            <td>价格</td>
            <td>图片</td>
        </tr>
        <tr ng-repeat="pro in proList">
            <td>{{$index+1}}</td>
            <td>
                {{pro.name}}
            </td>
            <td>
                {{pro.price}}
            </td>
            <td>
                <img ng-src="{{pro.img}}"/>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button ng-click="addMore()">加载更多</button>
            </td>
        </tr>
    </table>


</body>
</html>